// ÐÞ¸Ä£º
// $pageWidth: 750px;
$pageWidth: 800px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
// ÐÞ¸Ä£º
// $sidePanelWidth: 380px;
$sidePanelWidth: 400px;
// ÐÞ¸Ä£º
// $topSpacing: 6rem;
$topSpacing: 4rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
